<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.myinfo.dao.MDao">

	<!-- 로그인 정보 조회 -->
	<select id="message1" resultType="kr.happyjob.study.myinfo.model.MModel">
		
	select 
      ,n.note_date
      ,n.recd_id
from tb_note n
inner join tb_userinfo u ON u.loginID = n.loginID
where loginID = #{loginID}
<where>
	
		<if test="(searchvalue != null) and (!searchvalue.equals(''))">
			and n.recd_id LIKE CONCAT('%', #{searchvalue}, '%')
		</if>
	    <if test ="(startDate != null) and (!startDate.equals(''))">
             and n.note_date  <![CDATA[>=]]> date_format(#{startDate}, '%Y-%m-%d')   
         </if>         
         <if test ="(endDate != null) and (!endDate.equals(''))">
             and n.note_date  <![CDATA[<=]]> date_format(#{endDate}, '%Y-%m-%d')   
         </if>  
         </where>       
	limit #{startnum},#{pagesize}
	</select>
	
	<select id="searchlistcnt" resultType="int">		
																										<!--  총건수 구하기 -->		
	select count(*)
	from tb_note n
	inner join tb_userinfo u ON u.loginID = n.loginID
where loginID = #{loginID}
<where>
		<if test="(searchvalue != null) and (!searchvalue.equals(''))">
			and n.recd_id LIKE CONCAT('%', #{searchvalue}, '%')
		</if>
	    <if test ="(startDate != null) and (!startDate.equals(''))">
             and n.note_date  <![CDATA[>=]]> date_format(#{startDate}, '%Y-%m-%d')   
         </if>         
         <if test ="(endDate != null) and (!endDate.equals(''))">
             and n.note_date  <![CDATA[<=]]> date_format(#{endDate}, '%Y-%m-%d')   
         </if>         
	</where>
    </select>
    
<select id="selectj" resultType="kr.happyjob.study.myinfo.model.MModel">

select note_id  
      ,note_title
      ,note_date
      ,note_content
      ,send_id
      ,recd_id
   from tb_note
   where n.note_id = #{note_id}
	</select>
	
	  <insert id="insertNotice">
         <selectKey resultType="int" keyProperty="note_id" order="BEFORE"> <!-- note_id를 홈페이지내에서 자동으로 번호를 추가 하기 위함  -->
            select ifnull(max(note_id),0) + 1 from tb_note 
        </selectKey> 
          insert into tb_note
                        (
                           note_id          
                         , note_title   
                         , loginID   
                         , note_date
                         , note_content  
                         , send_id 
                         , recd_id
                        ) values (
                          #{note_id} 
                         ,#{note_title} 
                         ,#{loginID} 
                         ,now()
                         ,now()
                         ,#{note_content} 
                         , #{send_id} 
                          , #{recd_id} 
                        )
    </insert>
	
	
	
	
</mapper>