<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.info.dao.PJDao">

<select id="pjlist" resultType="kr.happyjob.study.info.model.PJModel">

select p.projectID
      ,p.projectname
      ,u.loginID
      ,p.corname
      ,p.area
      ,p.job
      ,p.industry
      ,p.recvstart
      ,p.recvend
from tb_pjinfo p
inner join tb_userinfo u on u.loginID = p.loginID
<where>
			<if test="(searchvalue != null) and (!searchvalue.equals(''))">
				<choose>
					<when
						test="searchtype eq 'pjn'.toString()">
						and p.projectname LIKE CONCAT('%', #{searchvalue}, '%')
					</when>
					<when
						test="searchtype eq 'cn'.toString()">
						and p.corname LIKE CONCAT('%', #{searchvalue}, '%')
					</when>
					<when
						test="searchtype eq 'area'.toString()">
						and p.area LIKE CONCAT('%', #{searchvalue}, '%')
					</when>
					<when
						test="searchtype eq 'recvend'.toString()">
						and p.recvend LIKE CONCAT('%', #{searchvalue}, '%')
					</when>
					<otherwise>
						AND (
						             p.projectname LIKE CONCAT('%', #{searchvalue}, '%')
						          or p.corname LIKE CONCAT('%', #{searchvalue}, '%')
						          or p.area LIKE CONCAT('%', #{searchvalue}, '%')
						          or p.recvend LIKE CONCAT('%', #{searchvalue}, '%')
						        )
					</otherwise>
				</choose>
			</if>
			<if test="(startDate != null) and (!startDate.equals(''))">
		 	AND recvstart <![CDATA[ >= ]]>  #{startDate}
		</if>
		<if test="(endDate != null) and (!endDate.equals(''))">
		 	AND recvend <![CDATA[ <= ]]> #{endDate}  
		</if>
	</where>
 LIMIT #{startnum},#{pagesize}
</select>

<!-- 프로젝트 조회, 입력, 수정, 삭제 -->
<select id="searchlistcnt" resultType="int">
	select count(*)
		from tb_pjinfo p
	inner join tb_userinfo u on u.loginID = p.loginID
	<where>
	<if test="(searchvalue != null) and (!searchvalue.equals(''))">
				<choose>
					<when
						test="searchtype eq 'pjn'.toString()">
						and p.projectname LIKE CONCAT('%', #{searchvalue}, '%')
					</when>
					<when
						test="searchtype eq 'cn'.toString()">
						and p.corname LIKE CONCAT('%', #{searchvalue}, '%')
					</when>
					<when
						test="searchtype eq 'area'.toString()">
						and p.area LIKE CONCAT('%', #{searchvalue}, '%')
					</when>
					<when
						test="searchtype eq 'recvend'.toString()">
						and p.recvend LIKE CONCAT('%', #{searchvalue}, '%')
					</when>
					<otherwise>
						AND (
						             p.projectname LIKE CONCAT('%', #{searchvalue}, '%')
						          or p.corname LIKE CONCAT('%', #{searchvalue}, '%')
						          or p.area LIKE CONCAT('%', #{searchvalue}, '%')
						          or p.recvend LIKE CONCAT('%', #{searchvalue}, '%')
						        )
					</otherwise>
				</choose>
			</if>
			<if test="(startDate != null) and (!startDate.equals(''))">
		 	AND recvstart <![CDATA[ >= ]]>  #{startDate}
		</if>
		<if test="(endDate != null) and (!endDate.equals(''))">
		 	AND recvend <![CDATA[ <= ]]> #{endDate}  
		</if>
		</where>
	
</select>

<!-- 프로젝트 조회, 입력, 수정, 삭제 -->
<select id="selectpjlist" resultType="kr.happyjob.study.info.model.PJModel">
	select l.projectID
      ,p.projectname
      ,u.loginID
      ,p.corname
      ,p.area
      ,p.job
      ,p.industry
      ,p.swtype
      ,p.first
      ,p.mid
      ,p.high
      ,p.special
      ,p.workstart
      ,p.workend
      ,p.note
      ,p.prime
      ,p.etc
      ,p.workarea
      ,p.workareadetail
      ,p.notebookyn
      ,p.foodyn
      ,p.houseyn
      ,p.recvstart
      ,p.recvend
      ,group_concat(detail_code)as detail
      ,i.interviewtype
from tb_pjinfo p
inner join tb_userinfo u on p.loginID = u.loginID
inner join tb_pjskill l on l.projectID = p.projectID
inner join tb_interview i on i.projectID = p.projectID

	WHERE p.projectID = #{projectID}
</select>


</mapper>