<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.info.dao.PJDao">

<select id="pjlist" resultType="kr.happyjob.study.info.model.PJModel">
select projectID
      ,corname				
      ,swtype			
      ,projectname		
      ,area			
      ,job			
      ,industry		
      ,recvstart			
      ,recvend
FROM tb_pjinfo
<where>
          		and loginID = 'admin'
			<if test="(searchvalue != null) and (!searchvalue.equals(''))">
				<choose>
					<when
						test="searchtype eq 'p'.toString()">
						and projectname LIKE CONCAT('%', #{searchvalue}, '%')
					</when>
					<when
						test="searchtype eq 'a'.toString()">
						and area LIKE CONCAT('%', #{searchvalue}, '%')
					</when>
					<when
						test="searchtype eq 'j'.toString()">
						and job LIKE CONCAT('%', #{searchvalue}, '%')
					</when>
					<when
						test="searchtype eq 'i'.toString()">
						and industry LIKE CONCAT('%', #{searchvalue}, '%')
					</when>
				 
					<otherwise>
						AND (
						            projectID LIKE CONCAT('%', #{searchvalue}, '%')
						          or corname LIKE CONCAT('%', #{searchvalue}, '%')
						          or swtype LIKE CONCAT('%', #{searchvalue}, '%')
						          or projectname LIKE CONCAT('%', #{searchvalue}, '%')
						          or area  LIKE CONCAT('%', #{searchvalue}, '%')
						          or job LIKE CONCAT('%', #{searchvalue}, '%')
						          or industry LIKE CONCAT('%', #{searchvalue}, '%')
						           or recvstart LIKE CONCAT('%', #{searchvalue}, '%')
						          or recvend LIKE CONCAT('%', #{searchvalue}, '%')
						        )
					</otherwise>
				</choose>
			</if>
			 <if test ="(startDate != null) and (!startDate.equals(''))">
             and recvstart  <![CDATA[>=]]> date_format(#{startDate}, '%Y-%m-%d')   
         </if>         
         <if test ="(endDate != null) and (!endDate.equals(''))">
             and recvend  <![CDATA[<=]]> date_format(#{endDate}, '%Y-%m-%d')   
         </if>         
			
		</where>
		
	limit #{startnum},#{pagesize}
</select>

<select id="searchlistcnt" resultType="int">
	select count(*)
	FROM tb_pjinfo
	<where>
          		and loginID = 'admin'
			<if test="(searchvalue != null) and (!searchvalue.equals(''))">
				<choose>
					<when
						test="searchtype eq 'p'.toString()">
						and projectname LIKE CONCAT('%', #{searchvalue}, '%')
					</when>
					<when
						test="searchtype eq 'a'.toString()">
						and area LIKE CONCAT('%', #{searchvalue}, '%')
					</when>
					<when
						test="searchtype eq 'j'.toString()">
						and job LIKE CONCAT('%', #{searchvalue}, '%')
					</when>
					<when
						test="searchtype eq 'i'.toString()">
						and industry LIKE CONCAT('%', #{searchvalue}, '%')
					 
		 	</when>	
					<otherwise>
						AND (
						            projectID LIKE CONCAT('%', #{searchvalue}, '%')
						          or corname LIKE CONCAT('%', #{searchvalue}, '%')
						          or swtype LIKE CONCAT('%', #{searchvalue}, '%')
						          or projectname LIKE CONCAT('%', #{searchvalue}, '%')
						          or area  LIKE CONCAT('%', #{searchvalue}, '%')
						          or job LIKE CONCAT('%', #{searchvalue}, '%')
						          or industry LIKE CONCAT('%', #{searchvalue}, '%')
						           or recvstart LIKE CONCAT('%', #{searchvalue}, '%')
						          or recvend LIKE CONCAT('%', #{searchvalue}, '%')
						        )
					</otherwise>
				</choose>
			</if>
			 <if test ="(startDate != null) and (!startDate.equals(''))">
             and recvstart  <![CDATA[>=]]> date_format(#{startDate}, '%Y-%m-%d')   
         </if>         
         <if test ="(endDate != null) and (!endDate.equals(''))">
             and recvend  <![CDATA[<=]]> date_format(#{endDate}, '%Y-%m-%d')   
         </if>         
		</where>
		
</select>

<!-- 프로젝트 조회 -->
<select id="selectlist" resultType="kr.happyjob.study.info.model.PJModel">
	
   select	p.corname
		,p.first
		,p.mid
		,p.high
		,p.special
		, p.projectID
      ,p.loginID
      ,p.projectname 
      ,p.area		
      ,p.job		
      ,p.industry		
      ,p.swtype		
      ,p.recvstart		
      ,p.recvend		
      ,p.workstart 
      ,p.workend		
      ,p.note		
      ,p.prime		
      ,p.etc		
      ,p.workareadetail	
      ,p.notebookyn	
      ,p.houseyn		
      ,p.foodyn		
      ,ui.corp_name
      ,(select group_concat(detail_code)
      from tb_pjskill pj 
      inner join tb_pjinfo p on p.projectID = pj.projectID
      where  pj.projectID = #{projectID})as detail
from tb_pjinfo p 
inner join tb_userinfo ui ON ui.loginID = p.loginID 
where  p.projectID = #{projectID}



	
</select>

<!-- 프로젝트 입력, 수정, 삭제 -->
<insert id="insertNotice">
	
	<selectKey resultType="string" keyProperty="projectID" order="BEFORE">
	    SELECT IFNULL(MAX(projectID),0) + 1  FROM tb_pjinfo
	</selectKey>
	INSERT INTO tb_pjinfo 
	(
		projectID,
		loginID,
		projectname,
		corname,
		area,
		job,
		industry,
		swtype,
		first,
		mid,
		high,
		special,
		workstart,
		workend,
		recvstart,
		recvend,
		note,
		prime,
		etc,
		workarea,
		workareadetail,
		notebookyn,
		houseyn,
		foodyn
	)
	VALUES
	(
		#{projectID},
		#{loginID},
		#{projectname},
		#{corname},
		#{rgareaall},
		#{rgjoball},
		#{rgindustryall},
		#{swcdall},
		#{first},
		#{mid},
		#{high},
		#{special},
		#{workstart},
		#{workend},
		#{recvstart},
		#{recvend},
		#{note},
		#{prime},
		#{etc},
		#{workareaall},
		#{workareadetail},
		#{rgnotebookyn},
		#{rghouseyn},
		#{rgfoodyn}
	)
</insert>

<update id="updateNotice">

	UPDATE tb_pjinfo
	SET
		projectname = #{projectname},
		corname = #{corname},
		area = #{rgareaall},
		job = #{rgjoball},
		industry = #{rgindustryall},
		swtype = #{swcdall},
		first = #{first},
		mid = #{mid},
		high = #{high},
		special = #{special},
		workstart = #{workstart},
		workend = #{workend},
		recvstart = #{recvstart},
		recvend = #{recvend},
		note = #{note},
		prime = #{prime},
		etc = #{etc},
		workarea = #{workareaall},
		workareadetail = #{workareadetail},
		notebookyn = #{rgnotebookyn},
		houseyn = #{rghouseyn},
		foodyn = #{rgfoodyn}
	WHERE loginID = #{loginID} AND projectID = #{projectID}
</update>


<delete id="deleteNotice">
	
	DELETE FROM tb_pjinfo 
	WHERE loginID = #{loginID} AND projectID = #{projectID}
</delete>

</mapper>